@model Asp.net_mvc.Models.Employee

@{
    ViewBag.Title = "Employee Details";
}

<h2>Employee Details</h2>

<table syle="font-family:Arial">
    <tr>
        <td>
            <b>Employee Id:</b>
        </td>
        <td>
            @Model.employeeId
        </td>
    </tr>
    <tr>
        <td>
            <b>Employee Name:</b>
        </td>
        <td>
            @Model.name
        </td>
    </tr>
    <tr>
        <td>
            <b>Gander:</b>
        </td>
        <td>
            @Model.gender
        </td>
    </tr>
    <tr>
        <td>
            <b>City:</b>
        </td>
        <td>
            @Model.city
        </td>
    </tr>

</table>